.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 400px;
}
.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  flex: 1;
}
.btn {
  color: var(--text-color);
  font-size: 25px;
  height: 100%;
  border: none;
  flex: 1;
  background-color: var(--secondary-color);
  border: #999 1px solid;
  cursor: pointer;
}
.btn:hover {
  background-color: var(--tertiary-color);
}
.colored {
  background-color: #012e67;
}
